{
  "log": {
    "_recordingName": "fetch-cloud-accounts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2aafe329a9e0ee09024d6260715d9b28",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-lw-uaks",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://lwintjupiterone.lacework.net/api/v2/access/tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84,
            "text": "{\"expiresAt\":\"2022-09-20T10:33:54.522Z\",\"token\":\"_4b76df622bb74453ca2c53920f006be3\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ratelimit-remaining",
              "value": "356"
            },
            {
              "name": "ratelimit-limit",
              "value": "360"
            },
            {
              "name": "ratelimit-reset",
              "value": "0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 772,
      },
      {
        "_id": "03995b632edea4b1b1ff924ff426d932",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://lwintjupiterone.lacework.net/api/v2/CloudAccounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1285,
            "text": "{\"data\":[{\"createdOrUpdatedBy\":\"korsie.ballesteros@gmail.com\",\"createdOrUpdatedTime\":\"2022-09-19T06:48:45.277Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_4475D22FFFC5580319929979C443826E3F7A20612283BD9\",\"isOrg\":0,\"name\":\"TF audit_log\",\"state\":{\"ok\":false,\"lastUpdatedTime\":1663582078253,\"lastSuccessfulTime\":1663574932035,\"details\":{\"queueRx\":\"OK\",\"decodeNtfn\":\"OK\",\"logFileGet\":\"OK\",\"queueDel\":\"OK\",\"lastMsgRxTime\":1663571261953,\"noData\":true}},\"type\":\"GcpAtSes\",\"data\":{\"id\":\"our-highway-363006\",\"idType\":\"PROJECT\",\"credentials\":{\"clientId\":\"117340813682467236435\",\"clientEmail\":\"lw-cfg-c5510526@our-highway-363006.iam.gserviceaccount.com\",\"privateKeyId\":\"\",\"privateKey\":\"\"},\"subscriptionName\":\"projects/our-highway-363006/subscriptions/lw-at-our-highway-363006-lacework-subscription-c431bfc4\"}},{\"createdOrUpdatedBy\":\"naglees11@gmail.com\",\"createdOrUpdatedTime\":\"2022-08-18T02:03:28.638Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_34A9F68E601184941CC1A51FB119787082CF19F6738C8D6\",\"isOrg\":0,\"name\":\"Test\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1663509530380,\"lastSuccessfulTime\":1663509530380,\"details\":{\"tenantErrors\":{\"opsDeniedAccess\":[]},\"subscriptionErrors\":{\"d3803fd6-2ba4-4286-80aa-f3d613ad59a7\":{\"opsDeniedAccess\":[]},\"f1cf82ea-8226-4c4d-ad3c-5d66a321951d\":{\"opsDeniedAccess\":[\"arm:list_security_policies\"]}}}},\"type\":\"AzureCfg\",\"data\":{\"credentials\":{\"clientId\":\"8e80df41-5ce7-4eeb-a005-20272757465d\",\"clientSecret\":\"\"},\"tenantId\":\"992d7bbe-b367-459c-a10f-cf3fd16103ab\"}},{\"createdOrUpdatedBy\":\"erica.nagle@jupiterone.com\",\"createdOrUpdatedTime\":\"2022-08-12T19:56:20.223Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_D2D7B73F9F6BA4EFF688AF53DF00D7FD16B1E8D8221A10B\",\"isOrg\":0,\"name\":\"Test\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1663519012252,\"lastSuccessfulTime\":1663519012252,\"details\":{\"complianceOpsDeniedAccess\":[\"GetKeyRotationStatus\"]}},\"type\":\"AwsCfg\",\"data\":{\"awsAccountId\":\"564077667165\",\"crossAccountCredentials\":{\"externalId\":\"a81f7f42-0095-42c1-b470-9f0d53f0291c\",\"roleArn\":\"arn:aws:iam::564077667165:role/jupiterone-integration-JupiterOneRole-1T1R5O16KLLQA\"}}},{\"createdOrUpdatedBy\":\"jeff.fry@lacework.net\",\"createdOrUpdatedTime\":\"2022-06-07T03:31:24.664Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_E1B83789645BA30FD3EFE19A336F4CB8592BCB265C64986\",\"isOrg\":0,\"name\":\"AWS-CloudTrail-lwintjupiterone\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1663517661255,\"lastSuccessfulTime\":1663517661255,\"details\":{\"complianceOpsDeniedAccess\":[\"GetBucketAcl\",\"GetBucketLogging\",\"GetKeyRotationStatus\"]}},\"type\":\"AwsCfg\",\"data\":{\"crossAccountCredentials\":{\"roleArn\":\"arn:aws:iam::911290716430:role/lwintjupiterone-laceworkcwssarole\",\"externalId\":\"D7E7AD2\"}}},{\"createdOrUpdatedBy\":\"jeff.fry@lacework.net\",\"createdOrUpdatedTime\":\"2022-06-07T03:31:24.626Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_DBFE1002A19ABA494575E75ECB41767389DE11D1A83E216\",\"isOrg\":0,\"name\":\"AWS-CloudTrail-lwintjupiterone\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1663583295510,\"lastSuccessfulTime\":1663583295510,\"details\":{\"sqsRx\":\"OK\",\"decodeNtfn\":\"OK\",\"s3Get\":\"OK\",\"sqsDel\":\"OK\",\"lastMsgRxTime\":1663583255041,\"noData\":false}},\"type\":\"AwsCtSqs\",\"data\":{\"crossAccountCredentials\":{\"roleArn\":\"arn:aws:iam::911290716430:role/lwintjupiterone-laceworkcwssarole\",\"externalId\":\"D7E7AD2\"},\"queueUrl\":\"https://sqs.us-west-2.amazonaws.com/911290716430/lwintjupiterone-laceworkcws\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ratelimit-remaining",
              "value": "358"
            },
            {
              "name": "ratelimit-limit",
              "value": "360"
            },
            {
              "name": "ratelimit-reset",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 811,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
