{
  "log": {
    "_recordingName": "fetch-cloud-accounts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2aafe329a9e0ee09024d6260715d9b28",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-lw-uaks",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://lwintjupiterone.lacework.net/api/v2/access/tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84,
            "text": "{\"token\":\"[REDACTED]\",\"expiresAt\":9999}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ratelimit-remaining",
              "value": "479"
            },
            {
              "name": "ratelimit-limit",
              "value": "480"
            },
            {
              "name": "ratelimit-reset",
              "value": "0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 880,
      },
      {
        "_id": "03995b632edea4b1b1ff924ff426d932",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://lwintjupiterone.lacework.net/api/v2/CloudAccounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1663,
            "text": "{\"data\":[{\"createdOrUpdatedBy\":\"korsie.ballesteros@gmail.com\",\"createdOrUpdatedTime\":\"2022-10-11T06:18:06.366Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_82FD34006051DE7986581024E9781864A304EF1614CD94B\",\"isOrg\":0,\"name\":\"TF audit_log\",\"state\":{\"ok\":false,\"lastUpdatedTime\":1676360217407,\"lastSuccessfulTime\":1671750584489,\"details\":{\"queueRx\":\"OK\",\"decodeNtfn\":\"OK\",\"logFileGet\":\"OK\",\"queueDel\":\"OK\",\"lastMsgRxTime\":1671743356363,\"noData\":true}},\"type\":\"GcpAtSes\",\"data\":{\"credentials\":{\"clientId\":\"109888395622567233246\",\"clientEmail\":\"lw-cfg-624b548b@lacework-integration-363702.iam.gserviceaccount.com\",\"privateKeyId\":\"\",\"privateKey\":\"\"},\"idType\":\"ORGANIZATION\",\"id\":\"365125586977\",\"subscriptionName\":\"projects/lacework-integration-363702/subscriptions/lw-at-lacework-integration-363702-lacework-subscription-a94b5fd2\"}},{\"createdOrUpdatedBy\":\"korsie.ballesteros@gmail.com\",\"createdOrUpdatedTime\":\"2022-10-11T06:17:58.695Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_6F8D66BC06E943C7C3AF98F03B9BB9BCF251EBE551B7A76\",\"isOrg\":0,\"name\":\"TF config\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1676299042647,\"lastSuccessfulTime\":1676299042647,\"details\":{\"organizationErrors\":{\"opsDeniedAccess\":[]},\"projectErrors\":{\"testproject2-363702\":{\"opsDeniedAccess\":[]},\"test-363704\":{\"opsDeniedAccess\":[]},\"lacework-integration-363702\":{\"opsDeniedAccess\":[]},\"container-project-363515\":{\"opsDeniedAccess\":[]},\"testproject-98c39\":{\"opsDeniedAccess\":[]}}}},\"type\":\"GcpCfg\",\"data\":{\"credentials\":{\"clientId\":\"109888395622567233246\",\"clientEmail\":\"lw-cfg-624b548b@lacework-integration-363702.iam.gserviceaccount.com\",\"privateKeyId\":\"\",\"privateKey\":\"\"},\"idType\":\"ORGANIZATION\",\"id\":\"365125586977\"}},{\"createdOrUpdatedBy\":\"korsie.ballesteros@gmail.com\",\"createdOrUpdatedTime\":\"2022-10-07T12:47:27.018Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_8487CA7BCA70372220E10B7C7795DB4F481F5E3FE7AC685\",\"isOrg\":0,\"name\":\"TF cloudtrail\",\"state\":{\"ok\":false,\"lastUpdatedTime\":1676360683771,\"lastSuccessfulTime\":1676282803791,\"details\":{\"sqsRx\":\"OK\",\"decodeNtfn\":\"OK\",\"s3Get\":\"OK\",\"sqsDel\":\"OK\",\"lastMsgRxTime\":1676281412258,\"noData\":true}},\"type\":\"AwsCtSqs\",\"data\":{\"crossAccountCredentials\":{\"roleArn\":\"arn:aws:iam::682598602203:role/my-custom-iam-role-name\",\"externalId\":\"vQ,im,GEANooEwrT\"},\"queueUrl\":\"https://sqs.ap-northeast-1.amazonaws.com/682598602203/lacework-ct-sqs-378c014a\"}},{\"createdOrUpdatedBy\":\"korsie.ballesteros@gmail.com\",\"createdOrUpdatedTime\":\"2022-10-07T12:46:35.372Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_3CF97F84D0F9F70ABF15F3229D744DC1A3007585E765839\",\"isOrg\":0,\"name\":\"TF config\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1676296802662,\"lastSuccessfulTime\":1676296802662,\"details\":{\"complianceOpsDeniedAccess\":[]}},\"type\":\"AwsCfg\",\"data\":{\"crossAccountCredentials\":{\"roleArn\":\"arn:aws:iam::682598602203:role/my-custom-iam-role-name\",\"externalId\":\"vQ,im,GEANooEwrT\"},\"awsAccountId\":\"682598602203\"}},{\"createdOrUpdatedBy\":\"naglees11@gmail.com\",\"createdOrUpdatedTime\":\"2022-08-18T02:03:28.638Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_34A9F68E601184941CC1A51FB119787082CF19F6738C8D6\",\"isOrg\":0,\"name\":\"Test\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1676297881031,\"lastSuccessfulTime\":1676297881031,\"details\":{\"tenantErrors\":{\"opsDeniedAccess\":[]},\"subscriptionErrors\":{\"d3803fd6-2ba4-4286-80aa-f3d613ad59a7\":{\"opsDeniedAccess\":[]},\"f1cf82ea-8226-4c4d-ad3c-5d66a321951d\":{\"opsDeniedAccess\":[\"arm:list_security_policies\"]}}}},\"type\":\"AzureCfg\",\"data\":{\"credentials\":{\"clientId\":\"8e80df41-5ce7-4eeb-a005-20272757465d\",\"clientSecret\":\"\"},\"tenantId\":\"992d7bbe-b367-459c-a10f-cf3fd16103ab\"}},{\"createdOrUpdatedBy\":\"erica.nagle@jupiterone.com\",\"createdOrUpdatedTime\":\"2022-08-12T19:56:20.223Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_D2D7B73F9F6BA4EFF688AF53DF00D7FD16B1E8D8221A10B\",\"isOrg\":0,\"name\":\"Test\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1676302050464,\"lastSuccessfulTime\":1676302050464,\"details\":{\"complianceOpsDeniedAccess\":[\"GetBucketAcl\",\"GetBucketLogging\",\"GetKeyRotationStatus\"]}},\"type\":\"AwsCfg\",\"data[...]
