{
  "log": {
    "_recordingName": "fetch-cloud-accounts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2aafe329a9e0ee09024d6260715d9b28",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-lw-uaks",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://lwintjupiterone.lacework.net/api/v2/access/tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84,
            "text": "{\"expiresAt\":\"2022-10-11T07:03:15.997Z\",\"token\":\"_f7502ffbfd6f13b233bb74d14959dc77\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ratelimit-remaining",
              "value": "462"
            },
            {
              "name": "ratelimit-limit",
              "value": "480"
            },
            {
              "name": "ratelimit-reset",
              "value": "0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 801,
      },
      {
        "_id": "03995b632edea4b1b1ff924ff426d932",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://lwintjupiterone.lacework.net/api/v2/CloudAccounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1552,
            "text": "{\"data\":[{\"createdOrUpdatedBy\":\"korsie.ballesteros@gmail.com\",\"createdOrUpdatedTime\":\"2022-10-10T06:14:15.587Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_E9980119B2F5C294C8C910DAD5E4CE37115B8F4DDBF0B02\",\"isOrg\":0,\"name\":\"TF audit_log\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1665382493078,\"lastSuccessfulTime\":1665382493078,\"details\":{\"queueRx\":\"OK\",\"noData\":false}},\"type\":\"GcpAtSes\",\"data\":{\"credentials\":{\"clientId\":\"109888395622567233246\",\"clientEmail\":\"lw-cfg-624b548b@lacework-integration-363702.iam.gserviceaccount.com\",\"privateKeyId\":\"\",\"privateKey\":\"\"},\"idType\":\"ORGANIZATION\",\"id\":\"365125586977\",\"subscriptionName\":\"projects/lacework-integration-363702/subscriptions/lw-at-lacework-integration-363702-lacework-subscription-a94b5fd2\"}},{\"createdOrUpdatedBy\":\"korsie.ballesteros@gmail.com\",\"createdOrUpdatedTime\":\"2022-10-10T06:14:07.843Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_8BAC65D7C7E27D5122EBF4D51691280D6483A01D60D602E\",\"isOrg\":0,\"name\":\"TF config\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1665382473501,\"lastSuccessfulTime\":1665382473501,\"details\":{\"organizationErrors\":{\"opsDeniedAccess\":[]},\"projectErrors\":{}}},\"type\":\"GcpCfg\",\"data\":{\"credentials\":{\"clientId\":\"109888395622567233246\",\"clientEmail\":\"lw-cfg-624b548b@lacework-integration-363702.iam.gserviceaccount.com\",\"privateKeyId\":\"\",\"privateKey\":\"\"},\"idType\":\"ORGANIZATION\",\"id\":\"365125586977\"}},{\"createdOrUpdatedBy\":\"korsie.ballesteros@gmail.com\",\"createdOrUpdatedTime\":\"2022-10-07T12:47:27.018Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_8487CA7BCA70372220E10B7C7795DB4F481F5E3FE7AC685\",\"isOrg\":0,\"name\":\"TF cloudtrail\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1665385097808,\"lastSuccessfulTime\":1665385097808,\"details\":{\"sqsRx\":\"OK\",\"decodeNtfn\":\"OK\",\"s3Get\":\"OK\",\"sqsDel\":\"OK\",\"lastMsgRxTime\":1665385039837,\"noData\":false}},\"type\":\"AwsCtSqs\",\"data\":{\"crossAccountCredentials\":{\"roleArn\":\"arn:aws:iam::682598602203:role/my-custom-iam-role-name\",\"externalId\":\"vQ,im,GEANooEwrT\"},\"queueUrl\":\"https://sqs.ap-northeast-1.amazonaws.com/682598602203/lacework-ct-sqs-378c014a\"}},{\"createdOrUpdatedBy\":\"korsie.ballesteros@gmail.com\",\"createdOrUpdatedTime\":\"2022-10-07T12:46:35.372Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_3CF97F84D0F9F70ABF15F3229D744DC1A3007585E765839\",\"isOrg\":0,\"name\":\"TF config\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1665332258287,\"lastSuccessfulTime\":1665332258287,\"details\":{\"complianceOpsDeniedAccess\":[]}},\"type\":\"AwsCfg\",\"data\":{\"crossAccountCredentials\":{\"roleArn\":\"arn:aws:iam::682598602203:role/my-custom-iam-role-name\",\"externalId\":\"vQ,im,GEANooEwrT\"}}},{\"createdOrUpdatedBy\":\"naglees11@gmail.com\",\"createdOrUpdatedTime\":\"2022-08-18T02:03:28.638Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_34A9F68E601184941CC1A51FB119787082CF19F6738C8D6\",\"isOrg\":0,\"name\":\"Test\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1665327422737,\"lastSuccessfulTime\":1665327422737,\"details\":{\"tenantErrors\":{\"opsDeniedAccess\":[]},\"subscriptionErrors\":{\"d3803fd6-2ba4-4286-80aa-f3d613ad59a7\":{\"opsDeniedAccess\":[]},\"f1cf82ea-8226-4c4d-ad3c-5d66a321951d\":{\"opsDeniedAccess\":[\"arm:list_security_policies\"]}}}},\"type\":\"AzureCfg\",\"data\":{\"credentials\":{\"clientId\":\"8e80df41-5ce7-4eeb-a005-20272757465d\",\"clientSecret\":\"\"},\"tenantId\":\"992d7bbe-b367-459c-a10f-cf3fd16103ab\"}},{\"createdOrUpdatedBy\":\"erica.nagle@jupiterone.com\",\"createdOrUpdatedTime\":\"2022-08-12T19:56:20.223Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_D2D7B73F9F6BA4EFF688AF53DF00D7FD16B1E8D8221A10B\",\"isOrg\":0,\"name\":\"Test\",\"state\":{\"ok\":true,\"lastUpdatedTime\":1665333791236,\"lastSuccessfulTime\":1665333791236,\"details\":{\"complianceOpsDeniedAccess\":[\"GetKeyRotationStatus\"]}},\"type\":\"AwsCfg\",\"data\":{\"awsAccountId\":\"564077667165\",\"crossAccountCredentials\":{\"externalId\":\"a81f7f42-0095-42c1-b470-9f0d53f0291c\",\"roleArn\":\"arn:aws:iam::564077667165:role/jupiterone-integration-JupiterOneRole-1T1R5O16KLLQA\"}}},{\"createdOrUpdatedBy\":\"jeff.fry@lacework.net\",\"createdOrUpdatedTime\":\"2022-06-07T03:31:24.664Z\",\"enabled\":1,\"intgGuid\":\"LWINTJUP_E1B83789645BA30FD3EFE19A336F4CB8592BCB265C64986\",\"isOrg\":0,\"name\":\"AWS-CloudTrail-lwintjupiterone\",\"state\":{\"ok\":true,\"lastUpdatedTime\":16653[...]
