{
  "log": {
    "_recordingName": "fetch-machines",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2aafe329a9e0ee09024d6260715d9b28",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-lw-uaks",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://lwintjupiterone.lacework.net/api/v2/access/tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84,
            "text": "{\"expiresAt\":\"2022-09-20T10:33:54.521Z\",\"token\":\"_4b76df622bb74453ca2c53920f006be3\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ratelimit-remaining",
              "value": "355"
            },
            {
              "name": "ratelimit-limit",
              "value": "360"
            },
            {
              "name": "ratelimit-reset",
              "value": "0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 764,
      },
      {
        "_id": "ececb57868e28234f20b189779e286ff",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://lwintjupiterone.lacework.net/api/v2/Entities/Machines/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1387,
            "text": "{\"paging\":{\"rows\":61,\"totalRows\":61,\"urls\":{\"nextPage\":null}},\"data\":[{\"endTime\":\"2022-09-12T13:00:00.000Z\",\"entityType\":\"Machine\",\"hostname\":\"stefan-creativice\",\"machineTags\":{\"Hostname\":\"stefan-creativice\",\"LwTokenShort\":\"24c138b4dbf6e66f79e64444fcb730\",\"arch\":\"amd64\",\"os\":\"linux\"},\"mid\":1,\"primaryIpAddr\":\"192.168.0.34\",\"startTime\":\"2022-09-12T12:00:00.000Z\"},{\"endTime\":\"2022-09-12T14:00:00.000Z\",\"entityType\":\"Machine\",\"hostname\":\"stefan-creativice\",\"machineTags\":{\"Hostname\":\"stefan-creativice\",\"LwTokenShort\":\"24c138b4dbf6e66f79e64444fcb730\",\"arch\":\"amd64\",\"os\":\"linux\"},\"mid\":1,\"primaryIpAddr\":\"192.168.0.34\",\"startTime\":\"2022-09-12T13:00:00.000Z\"},{\"endTime\":\"2022-09-12T15:00:00.000Z\",\"entityType\":\"Machine\",\"hostname\":\"stefan-creativice\",\"machineTags\":{\"Hostname\":\"[...]
