{
  "log": {
    "_recordingName": "fetch-machines",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2aafe329a9e0ee09024d6260715d9b28",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-lw-uaks",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://lwintjupiterone.lacework.net/api/v2/access/tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84,
            "text": "{\"expiresAt\":\"2022-10-11T07:03:16.073Z\",\"token\":\"_f7502ffbfd6f13b233bb74d14959dc77\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ratelimit-remaining",
              "value": "456"
            },
            {
              "name": "ratelimit-limit",
              "value": "480"
            },
            {
              "name": "ratelimit-reset",
              "value": "0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 750,
      },
      {
        "_id": "ececb57868e28234f20b189779e286ff",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://lwintjupiterone.lacework.net/api/v2/Entities/Machines/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3320,
            "text": "{\"paging\":{\"rows\":128,\"totalRows\":128,\"urls\":{\"nextPage\":null}},\"data\":[{\"endTime\":\"2022-10-03T13:00:00.000Z\",\"entityType\":\"Machine\",\"mid\":1,\"primaryIpAddr\":\"192.168.0.34\",\"startTime\":\"2022-10-03T12:00:00.000Z\"},{\"endTime\":\"2022-10-03T14:00:00.000Z\",\"entityType\":\"Machine\",\"mid\":1,\"primaryIpAddr\":\"192.168.0.34\",\"startTime\":\"2022-10-03T13:00:00.000Z\"},{\"endTime\":\"2022-10-03T15:00:00.000Z\",\"entityType\":\"Machine\",\"hostname\":\"stefan-creativice\",\"machineTags\":{\"ExternalIp\":\"NOT_AVAILABLE\",\"Hostname\":\"stefan-creativice\",\"InstanceId\":\"\",\"InstanceName\":\"NOT_AVAILABLE\",\"InternalIp\":\"NOT_AVAILABLE\",\"LwTokenShort\":\"24c138b4dbf6e66f79e64444fcb730\",\"NumericProjectId\":\"NOT_AVAILABLE\",\"ProjectId\":\"NOT_AVAILABLE\",\"VmInstanceType\":\"NOT_AVAILABLE\",\"VmProvider\":\"HV\",\"Zone\":\"NOT_AVAILABLE\",\"arch\":\"amd64\",\"os\":\"linux\"},\"mid\":1,\"primaryIpAddr\":\"192.168.0.34\",\"startTime\":\"2022-10-03T14:00:00.000Z\"},{\"endTime\":\"2022-10-03T16:00:00.000Z\",\"entityType\":\"Machine\",\"hostname\":\"stefan-creativice\",\"machineTags\":{\"ExternalIp\":\"NOT_AVAILABLE\",\"Hostname\":\"stefan-creativice\",\"InstanceId\":\"\",\"InstanceName\":\"NOT_AVAILABLE\",\"InternalIp\":\"NOT_AVAILABLE\",\"LwTokenShort\":\"24c138b4dbf6e66f79e64444fcb730\",\"NumericProjectId\":\"NOT_AVAILABLE\",\"ProjectId\":\"NOT_AVAILABLE\",[...]
