{
  "log": {
    "_recordingName": "fetch-team-members",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2aafe329a9e0ee09024d6260715d9b28",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-lw-uaks",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://lwintjupiterone.lacework.net/api/v2/access/tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84,
            "text": "{\"expiresAt\":\"2022-10-11T07:03:16.030Z\",\"token\":\"_f7502ffbfd6f13b233bb74d14959dc77\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ratelimit-remaining",
              "value": "461"
            },
            {
              "name": "ratelimit-limit",
              "value": "480"
            },
            {
              "name": "ratelimit-reset",
              "value": "0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 756,
      },
      {
        "_id": "05f7a2e3db151a23b3f5b367ec319842",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://lwintjupiterone.lacework.net/api/v2/TeamMembers"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 862,
            "text": "{\"data\":[{\"custGuid\":\"LWINTJUP_E74DA8F80DC10C336BBC7815D507641CEA8C72CC08048FA\",\"props\":{\"firstName\":\"Korsie\",\"lastName\":\"Ballesteros\",\"company\":\"Creativice\",\"jitCreated\":false,\"accountAdmin\":true,\"orgAdmin\":false,\"orgUser\":false,\"createdTime\":\"2022-08-21T18:50:03.027Z\",\"updatedBy\":\"korsie.ballesteros@gmail.com\"},\"userEnabled\":1,\"userGuid\":\"LWINTJUP_0AE4A4DB2A1570416048CE028BE16BB730BCACAE873FF97\",\"userName\":\"korsie.ballesteros@gmail.com\"},{\"custGuid\":\"LWINTJUP_E74DA8F80DC10C336BBC7815D507641CEA8C72CC08048FA\",\"props\":{\"firstName\":\"Austin\",\"lastName\":\"Kelleher\",\"company\":\"JupiterOne\",\"jitCreated\":false,\"accountAdmin\":true,\"orgAdmin\":false,\"orgUser\":false,\"createdTime\":\"2022-06-07T14:21:51.177Z\"},\"userEnabled\":1,\"userGuid\":\"LWINTJUP_1F2D52B829BBAA0F33B5D2A8E3715DE62ED07F64AF52549\",\"userName\":\"austin.kelleher@jupiterone.com\"},{\"custGuid\":\"LWINTJUP_E74DA8F80D[...]
